/* Set flex direction of flashcard-front to column */
.flashcard-front {
    flex-direction: column;
}

/* Add padding to question */
.question {
    padding: 10px;
}

/* Set margin bottom for answer list items */
.answers li {
    margin-bottom: 10px;
}

/* Set display and flex direction for flashcard-content */
.flashcard-content {
    display: flex;
    flex-direction: column;
}

/* Remove default list styles */
.flashcard-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Set width of list items */
.flashcard-content ul li {
    width: 100%;
}

/* Style options */
.option {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 100px;
    width: 20vw;
    max-width: 175px;
    background-color: #b5aae8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Hide radio inputs */
.option input[type="radio"] {
    display: none;
}

/* Hover effect */
.option:hover {
    background-color: #a8a5fb;
}

/* Styling for correct answer */
.correct-answer {
    background-color: green;
}

/* Styling for incorrect answer */
.incorrect-answer {
    background-color: rgb(215, 95, 95);
}

/* Styling for result message */
.result-message {
    margin: 0 auto;
    margin-bottom: 20px;
    color: #485479;
}

/* Styling for next question button */
.next-question {
    margin: 0 auto;
    width: 100px;
    height: 20px;
    background-color: red;
}

/* Styling for disabled answer hover */
.option.answer-disabled-hover {
    pointer-events: none;
}

/* Hover effect for disabled answer */
.option.answer-disabled-hover:hover {
    background-color: inherit;
}

/* Styling for quiz container */
.quiz {
    width: 100%;
    height: 100%;
}

/* Styling for paragraphs in quiz */
.quiz p {
    word-wrap: break-word;
    font-size: 20px !important;
}

/* Styling for answer buttons container */
#answer-buttons {
    display: flex;
    padding: 5px;
    margin-top: 20px;
    flex-wrap: wrap;
}

/* Styling for answer buttons */
.btn {
    background-color: #b5aae8;
    color: white;
    font-weight: 500;
    height: 100%;
    height: 100px;
    border: solid 1px #b5aae8;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    max-width: calc(50% - 10px);
    box-sizing: border-box;
}

/* Hover effect for answer buttons */
.btn:hover {
    background-color: #7f7cdf;
}

/* Styling for next button */
#next-btn {
    background-color: #b5aae8;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
}

/* Hover effect for next button */
#next-btn:hover {
    background-color: #837fe3;
}

/* Styling for incorrect tally */
.incorrect-tally {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/* Styling for quiz headings */
.quiz h2 {
    margin-top: 10px;
}

/* Styling for submit answer button */
#submit-answer {
    background-color: #846ded; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Styling for disabled submit answer button */
#submit-answer:disabled {
    background-color: #ababab; /* Gray */
    cursor: not-allowed;
}

/* Disable cursor for front and back of flashcards */
.flashcard-front,
.flashcard-back {
    cursor: default !important;
}
